body, html {
  margin: 0;
  min-height: 100%;
  min-width: 480px;
  padding: 0;
}

a, a:visited {
  color: #fff;
}

@font-face {
  font-family: 'Shapely';
  src: url('../fonts/Shapely.eot');
  src: url('../fonts/Shapely.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Shapely.woff2') format('woff2'),
       url('../fonts/Shapely.woff') format('woff'),
       url('../fonts/Shapely.ttf') format('truetype');
}

@font-face {
  font-family: 'DanceHallJNL';
  src: url('../fonts/DanceHallJNL.eot');
  src: url('../fonts/DanceHallJNL.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DanceHallJNL.woff2') format('woff2'),
       url('../fonts/DanceHallJNL.woff') format('woff'),
       url('../fonts/DanceHallJNL.ttf') format('truetype');
}

.bulbs {
  background-size: cover;
  min-height: 240px;
}

.card-wrapper {
  padding: 0 1em;
  min-height: 100%;
  min-width: 480px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.card {
  color: #fff;
  margin: 0 auto 3em;
  min-height: 100%;
  min-width: 90%;
}

.centered {
  text-align: center;
}

.copy {
  font-family: Verdana, Geneva, sans-serif;
  margin-bottom: 1em;
}

.nav {
  margin: 0;
  padding: 1em 0 2em;
}

.nav li {
  border-right: 1px solid #fff;
  display: inline-block;
  width: 24%;
}

.nav li:last-child {
  border: 0;
}

.nav a,
.nav a:visited {
  display: block;
  text-align: center;
  width: 100%;
}

.nav li:hover {
  cursor: pointer;
}

.nav li:hover a {
  text-decoration: underline;
}

.no-margin {
  margin: 0;
}

.numbered {
  list-style: upper-roman;
}

.sans-serif {
  font-family: DanceHallJNL;
  font-size: 2em;
  line-height: 2.25;
  text-transform: uppercase;
}

.script {
  font-family: Shapely;
  font-size: 2em;
  line-height: 3.5;
}

.unadorned {
  list-style: none;
  margin: 0;
}

a.unadorned,
a.unadorned:visited {
  color: #fff;
  text-decoration: none;
}

a.unadorned:hover {
  text-decoration: underline;
}

/* Overriding styles */

.heading {
  font-size: 3em;
}

.lg {
  font-size: 3em;
}

.margin-bottom-sm {
  margin-bottom: .5em;
}

.margin-top-sm {
  margin-top: .5em;
}

/* Media styles */

@media only screen and (min-width: 420px) {
  .columns:after {
    clear: both;
    content: "";
    display: block;
  }

  .column {
    float: left;
    line-height: 2em;
    width: 340px;
  }

  .column:first-child {
    width: 200px;
  }
}

@media only screen and (min-width: 1200px) {
  .bulbs {
    min-height: 320px;
  }

  .column {
    width: 500px;
  }
}

@media only screen and (min-width: 2100px) {
  .bulbs {
    min-height: 400px;
  }
}

/* Themes */
.dark {
  background: #000 url(/assets/images/chalkboard.jpg) repeat;
}

.dark .bulbs {
  background: url(/assets/images/bulbs-dark.svg) repeat-x top center;
  background-size: cover;
}

.blue {
  background: #0091d4 url(/assets/images/blue-chalkboard.jpg) repeat;
}

.blue .bulbs {
  background: url(/assets/images/bulbs-light.svg) repeat-x top center;
}

.blue .sans-serif,
.blue a.unadorned,
.blue a.unadorned:visited {
  color: #222;
}

.blue .script {
  color: #fff;
}

#map-canvas {
  color: #000;
  height: 540px;
  margin-bottom: 1em;
}

.gm-style .gm-style-iw {
  width: 200px;
}
