body, html {
  margin: 0;
  min-height: 100%;
  min-width: 480px;
  padding: 0;
}

@font-face {
  font-family: 'Shapely';
  src: url('../fonts/Shapely.eot');
  src: url('../fonts/Shapely.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Shapely.woff2') format('woff2'),
       url('../fonts/Shapely.woff') format('woff'),
       url('../fonts/Shapely.ttf') format('truetype');
}

@font-face {
  font-family: 'DanceHallJNL';
  src: url('../fonts/DanceHallJNL.eot');
  src: url('../fonts/DanceHallJNL.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DanceHallJNL.woff2') format('woff2'),
       url('../fonts/DanceHallJNL.woff') format('woff'),
       url('../fonts/DanceHallJNL.ttf') format('truetype');
}

.bulbs {
  background-size: cover;
  min-height: 240px;
}

.card-wrapper {
  padding: 0;
  min-height: 100%;
  min-width: 480px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.card {
  color: #fff;
  margin: 0 auto 3em;
  min-height: 100%;
  min-width: 90%;
}

.centered {
  text-align: center;
}

.lg {
  font-size: 3em;
}

.nav {
  margin: 0;
  padding: 1em 0 2em;
}

.nav li {
  width: 24%;
  display: inline-block;
}

.nav a,
.nav a:visited {
  display: block;
  text-align: center;
  width: 100%;
}

.nav li:hover {
  cursor: pointer;
}

.nav li:hover a {
  text-decoration: underline;
}

.no-margin {
  margin: 0;
}

.numbered {
  list-style: upper-roman;
}

.sans-serif {
  font-family: DanceHallJNL;
  font-size: 2em;
  transform: uppercase;
}

.script {
  font-family: Shapely;
  font-size: 2em;
  line-height: 2.25em;
}

.unadorned {
  list-style: none;
}

a.unadorned,
a.unadorned:visited {
  color: #fff;
  text-decoration: none;
}

a.unadorned:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 1200px) {
  .bulbs {
    min-height: 320px;
  }
}

@media only screen and (min-width: 2100px) {
  .bulbs {
    min-height: 400px;
  }
}

/* Themes */
.dark {
  background: #000 url(/assets/images/chalkboard.jpg) repeat;
}

.dark .bulbs {
  background: url(/assets/images/bulbs-dark.svg) repeat-x top center;
}

.pink {
  background: #e29a8c url(/assets/images/pink-chalkboard.jpg) repeat;
}

.pink .bulbs {
  background: url(/assets/images/bulbs-light.svg) repeat-x top center;
}

.pink .sans-serif,
.pink a.unadorned,
.pink a.unadorned:visited {
  color: #333;
}

.pink .script {
  color: #ee7;
}
